language-app-frontend/node_modules
language-app-frontend/.env
language-app-frontend/dist
language-app-frontend/dist-ssr

language-app-backend/node_modules/
language-app-backend/.env
language-app-backend/uploads
language-app-backend/dist
language-app-backend/dist-ssr

*.log
*.http
*.local